[submodule "vendor/pdf-inspector"]
	path = vendor/pdf-inspector
	url = git://github.com/sandal/pdf-inspector.git
[submodule "vendor/ttfunk"]
	path = vendor/ttfunk
	url = git://github.com/sandal/ttfunk.git
[submodule "vendor/ruby-rc4"]
	path = vendor/ruby-rc4
	url = git://github.com/juggler/ruby-rc4.git
